
    <div class="content">
    
        <h1>About PocketRave</h1>

        <p align="left">Be the light and life of your party with PocketRave! Use the mobile app to create small graphics, match them with music tracks 
        from Soundcloud, and play them on the web in a kaleidoscope. Create a light show by forking this codebase and leveraging to your Photon device connected
        to an RGB LED light strip (tutorial coming soon).</p>

        <p align="left">With many thanks for the invaluable help of Nathan Walker and the <a href="https://github.com/NathanWalker/angular2-seed-advanced">Advanced Angular2 Seed</a>.</p>

        <p align="left">Like what you see? Having trouble? Contact the maker, <a href="mailto:jen@ladeezfirstmedia.com">Ladeez First Media</a>.</p>

    </div>
